<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/StyleMain.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="~/js/CommonScript.js"></script>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <footer>
        <div class="footer-initial">
            <div class="consumer-information">
                <h4 style="color:#fff">Email для связи</h4>
                <p>lucid.delivery@gmail.com</p>
            </div>
            <div class="social-links">
                <a class="social-card-initial" href="https://www.instagram.com/lucidbrnd/">
                    <div class="social-card">
                        <img src="https://cdn.icon-icons.com/icons2/1233/PNG/512/1492718764-instagram_83597.png" />
                    </div>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>