<header>
    <a id="logo-container" href="/Home/Index"><img id="logo" src="~/img/newlogo.png" /></a>
</header>

<div style="display:flex;padding:10rem;height:60vw;">
    <h1 style="margin:0 auto;">
       Спасибо за покупку!
    </h1>
</div>